%% -*- mode: erlang -*-
%% ex: ft=erlang
{sub_dirs, ["rel"]}.
{deps, [
        {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
        {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
        {leptus, ".*", {git, "git://github.com/s1n4/leptus.git", {branch, "master"}}},
        {unite, "", {git, "git://github.com/eproxus/unite.git"}}
       ]
}.
{erl_opts, [{parse_transform, lager_transform}, {d, 'USE_JSX'}]}.
{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.
